/* frontend/src/index.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные стили */
body {
  @apply antialiased text-gray-50 bg-dark-900;
}

nav {
  @apply flex flex-col;
}

nav ul {
  @apply space-y-2;
}

nav ul li {
  @apply flex justify-between items-center;
}

/* Предотвращение горизонтальной прокрутки */
html,
body,
#root {
  @apply overflow-hidden;
}

/* Плавные переходы для ResizableBox */
.react-resizable {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* Стилизация ручки изменения размера */
.react-resizable-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.3s ease-in-out;
  width: 10px;
  height: 30px;
  cursor: ew-resize;
  background: rgba(0, 150, 199, 0.5); /* Синий оверлей */
  z-index: 10;
  border-radius: 4px;
}

.react-resizable-handle:hover {
  background: rgba(0, 150, 199, 0.8); /* Темнее синий при наведении */
}

/* Стилизация полосы прокрутки для сообщений */
.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: #1f2937; /* dark-800 */
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #0096c7; /* blue-500 */
  border-radius: 4px;
  border: 2px solid #1f2937;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background-color: #0079a5; /* blue-600 */
}

.messages-container {
  scrollbar-width: thin;
  scrollbar-color: #0096c7 #1f2937;
}

/* Плавная прокрутка для сообщений */
.messages-container {
  scroll-behavior: smooth;
}

/* Скрытие полосы прокрутки в textarea */
textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  scrollbar-width: none; /* Для Firefox */
}

/* Стилизация textarea */
.textarea-custom {
  @apply w-full resize-none overflow-y-auto bg-dark-800 text-gray-50 border border-dark-700 rounded py-4 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-inset text-lg;
  max-height: calc(1.5em * 6 + 1rem); /* Настройка для 6 строк */
}